*{
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'itoya'; /* Escolha um nome para a fonte */
  src: url('itoya.ttf') format('ttf'), /* Adicione os caminhos para os arquivos da fonte */
       url('itoya.ttf') format('woff'),
       url('itoya.ttf') format('opentype'),
       url('itoya.ttf') format('truetype'),
       url('itoya.ttf') format('embedded-opentype');

}
body {
  margin: 0;
  padding: 0;
  font-family: 'Itoya';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

